


*,
*:before,
*:after {
    box-sizing: border-box;
}


*:focus {
    outline: none;
}

body {
    line-height: 1.2;
}

p,
input, hr {
    margin: 0;
}

button {
    padding: 0;
    font: inherit;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



.container {
    max-width: 993px;
    /* ширина контента+ падинги */
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

@media(max-width: 1200px) {
    .container {
        max-width: 970px;
    }

}

@media(max-width: 992px) {
    .container {
        max-width: 750px;
    }

}

@media(max-width: 767px) {
    .container {
        max-width: none;
    }

}

.main-content {
    display: flex;
}

/*============== flights ============== */

.flights {
    padding: 20px 46px 0 24px;
    background-color: #fff;

}

.flights__inner {
    background-color: #fff;

}
